
.header {
	background-image: url('https://github.com/aubreeabril/dream-neighborhood-project/blob/master/img%20files/backgroundhouse.jpg?raw=true');
	width:100%;
}

h1 {
	font-size: 100px;
	font-family: 'Aref Ruqaa', serif;
	text-align: center;
}

li {
	list-style-type: none;
	float:left;
	margin-right: 20px;
	text-align: center;
}

